@font-face {
  font-family: OpenSans Light;
  src: url(fonts/open_sans/OpenSans-Light.ttf);
}
@font-face {
  font-family: OpenSans-Bold;
  src: url(fonts/open_sans/OpenSans-Bold.ttf);
}
@font-face {
  font-family: OpenSans-Regular;
  src: url(fonts/open_sans/OpenSans-Bold.ttf);
}
html,
body {
  padding: 0;
  margin: 0;
}
body {
  font-family: 'OpenSans', 'Arial', sans-serif;
  font-size: 14px;
}
.layout-center-wrapper {
  width: 1000px;
  margin: 0 auto;
}
.row:after {
  content: '';
  display: table;
  clear: both;
}
*::-webkit-input-placeholder {
  color: #666565;
  opacity: 1;
}
*:-moz-placeholder {
  color: #666565;
  opacity: 1;
}
*::-moz-placeholder {
  color: #666565;
  opacity: 1;
}
*:-ms-input-placeholder {
  color: #666565;
  opacity: 1;
}
.form {
  margin: 0 auto;
  max-width: 1000px;
  padding: 0;
  background: white;
  border: 4px solid #eb2629;
  border-radius: 6px;
  text-align: center;
}
.form input {
  outline: none;
}
.form input[type="text"] {
  padding: 1px 5px 2px;
  font-size: 24px;
  text-transform: lowercase;
  font-style: italic;
  font-family: 'OpenSans Light', 'Arial', sans-serif;
  font-weight: bold;
  border: 1px solid #666565;
}
.form input[type="submit"] {
  font-family: 'OpenSans-Bold', 'Arial', sans-serif;
  font-size: 24px;
  color: #eb2629;
  text-transform: uppercase;
  background: none;
  border: none;
}
.form__title {
  margin: 0;
  margin-bottom: 25px;
  font-family: 'OpenSans-Bold', 'Arial', sans-serif;
  text-transform: uppercase;
  font-size: 24px;
  color: #666565;
}
.form__title--main {
  margin-bottom: 0;
  padding: 11px 0 15px;
  background: #eb2629;
  font-size: 25px;
  color: #ffffff;
}
.form fieldset {
  position: relative;
  margin: 0;
  padding: 25px 0;
  border: none;
}
.form fieldset:not(:last-child):after {
  content: "";
  position: absolute;
  width: 80%;
  height: 2px;
  bottom: -2px;
  left: 10%;
  background: #666565;
}
.form fieldset:last-child {
  padding-bottom: 15px;
}
.form__input {
  margin-bottom: 15px;
}
.form__forget {
  display: block;
  margin-top: 10px;
  color: #666565;
  font-style: italic;
  font-size: 18px;
  font-family: 'OpenSans Light', 'Arial', sans-serif;
  font-weight: bold;
  text-decoration: underline;
}
.form__enter input[type="text"] {
  width: 22%;
  margin-right: 5%;
}
.form__enter input[type="text"]:last-child {
  margin-right: 0;
}
.form__socials ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.form__socials ul li {
  display: inline-block;
}
.form__socials ul li a {
  display: block;
  text-decoration: none;
  color: inherit;
}
.form__socials ul li {
  margin-right: 9%;
}
.form__socials ul li:last-child {
  margin-right: 0;
}
.form__socials ul li a {
  width: 35px;
  height: 35px;
  background-position: center center;
  background-repeat: no-repeat;
  width: 56px;
  height: 56px;
}
.form__socials--vk {
  background-image: url("../img/icon-vk_red.png");
}
.form__socials--fb {
  background-image: url("../img/icon-fb_red.png");
}
.form__socials--twitter {
  background-image: url("../img/icon-twitter_red.png");
}
.form__socials--odnoklassniki {
  background-image: url("../img/icon-odnoklassniki_red.png");
}
.form__socials--google {
  background-image: url("../img/icon-google_red.png");
}
.form__required {
  position: absolute;
  width: 19px;
  height: 19px;
  top: -13px;
  background: url("../img/icon-required.png") no-repeat center center;
}
.form__required-l {
  position: relative;
  display: inline-block;
  width: 22%;
  margin-right: 5%;
  vertical-align: middle;
}
.form__required-l:last-child {
  margin-right: 0;
}
.form__required-l input {
  width: 100%;
}
.form .capcha {
  display: inline-block;
  width: 165px;
  height: 63px;
  margin-right: 10%;
  background: #acacac url("../img/capcha.png") no-repeat center center;
  border: 3px solid #eb2629;
  vertical-align: middle;
}
.form .capcha-l {
  margin: 45px auto 30px;
}
.fancybox-skin {
  background: transparent;
}
.fancybox-close {
  top: 15px;
  right: 20px;
  background: url("../img/icon-close.png") no-repeat center center;
}
.header {
  margin-bottom: 60px;
}
.header .head {
  margin-bottom: 10px;
  padding: 7px 0;
  background: #e82a2c;
}
.header .head__breadcrumb ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0;
}
.header .head__breadcrumb ul li {
  display: inline-block;
}
.header .head__breadcrumb ul li a {
  display: block;
  text-decoration: none;
  color: inherit;
}
.header .head__breadcrumb ul li {
  margin-right: 3px;
  color: #cccccc;
  border-right: 1px solid #cccccc;
}
.header .head__breadcrumb ul li:last-child {
  color: white;
  border: none;
}
.header .head__breadcrumb ul li:not(:last-child) a:hover {
  color: #808080;
}
.header .head__breadcrumb ul li a {
  margin-right: 3px;
  font-size: 13px;
  text-transform: lowercase;
}
.header .head__registration {
  text-align: right;
  color: white;
}
.header .head__registration a {
  text-decoration: none;
  color: inherit;
}
.header .head__registration a:hover {
  text-decoration: underline;
}
.header__banner {
  margin-bottom: 35px;
  text-align: center;
}
.header__logo {
  margin-bottom: 25px;
  text-align: center;
}
.header .form__search {
  margin-bottom: 55px;
}
.header .form__search-layout {
  position: relative;
  margin: 0 auto 5px;
  padding: 0;
  border: none;
}
.header .form__search-field {
  box-sizing: border-box;
  padding: 5px 30px 5px 5px;
  font-size: 16px;
  border: 1px solid #373737;
}
.header .form__search-btn {
  position: absolute;
  right: 5px;
  top: 50%;
  margin-top: -14px;
  width: 28px;
  height: 28px;
  background: url("../img/icon-search.png") no-repeat center center;
  border: none;
  outline: none;
}
.header .form__search-text {
  margin: 0;
  text-align: center;
  font-family: 'Verdana', 'Arial', sans-serif;
  color: #666565;
  font-weight: bold;
  font-style: italic;
}
.header .form__search-text span {
  color: #f86354;
}
.top-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 0;
}
.top-menu ul li {
  display: inline-block;
}
.top-menu ul li a {
  display: block;
  text-decoration: none;
  color: inherit;
}
.top-menu ul li {
  width: 20%;
}
.top-menu ul li a {
  color: #eb2629;
  font-size: 26px;
  font-weight: bold;
  text-transform: uppercase;
}
main {
  position: relative;
  margin-bottom: 20px;
}
main .next {
  position: absolute;
  left: 0px;
  bottom: -13px;
  text-decoration: none;
  color: inherit;
  font-size: 88.45px;
  line-height: 1;
  font-weight: bold;
  color: black;
}
main .next:hover {
  color: #4d4d4d;
}
main .next--smaller {
  font-size: 45.87px;
}
.content .row:last-of-type {
  margin-bottom: 100px;
}
.content__item {
  margin-bottom: 35px;
  padding: 0 15px;
  text-align: center;
}
.content__item .img-box {
  position: relative;
  height: 115px;
  border: 2px solid #373635;
  border-radius: 5px;
}
.content__item .img-box:after {
  content: '';
  display: table;
  clear: both;
}
.content__item .img-box:before {
  content: "vs";
  position: absolute;
  width: 36px;
  height: 36px;
  top: 50%;
  margin-top: -18px;
  left: 50%;
  margin-left: -18px;
  background: #e6e6e6;
  border-radius: 50%;
  font-family: 'OpenSans Light', 'Arial', sans-serif;
  font-size: 27px;
  line-height: 31px;
  z-index: 10;
}
.content__item .img-box__part {
  position: relative;
  float: left;
  width: 50%;
  height: 100%;
  overflow: hidden;
}
.content__item .img-box__part img {
  width: 200%;
  height: auto;
}
.content__item .img-box__part:first-child {
  border-right: 1px solid #373635;
}
.content__item .img-box__part:last-child {
  border-left: 1px solid #373635;
}
.content__item .img-box__part:last-child img {
  position: absolute;
  top: 0;
  right: 0;
}
.content__item .img-box__title {
  margin: 0;
  padding: 0 2px;
  line-height: 1.27;
  font-weight: bold;
  text-align: left;
  word-wrap: break-word;
}
.content__item--big .img-box {
  position: relative;
  height: 370px;
  border: 7px solid #373635;
  border-radius: 5px;
}
.content__item--big .img-box:after {
  content: '';
  display: table;
  clear: both;
}
.content__item--big .img-box:before {
  content: "vs";
  position: absolute;
  width: 110px;
  height: 110px;
  top: 50%;
  margin-top: -55px;
  left: 50%;
  margin-left: -55px;
  background: #e6e6e6;
  border-radius: 50%;
  font-family: 'OpenSans Light', 'Arial', sans-serif;
  font-size: 84px;
  line-height: 90px;
  z-index: 10;
}
.content__item--big .img-box__part {
  position: relative;
  float: left;
  width: 50%;
  height: 100%;
  overflow: hidden;
}
.content__item--big .img-box__part img {
  width: 200%;
  height: auto;
}
.content__item--big .img-box__part:first-child {
  border-right: 3.5px solid #373635;
}
.content__item--big .img-box__part:last-child {
  border-left: 3.5px solid #373635;
}
.content__item--big .img-box__part:last-child img {
  position: absolute;
  top: 0;
  right: 0;
}
.content__item--big .img-box__title {
  font-size: 46px;
}
.sidebar__box {
  text-decoration: none;
  color: inherit;
  position: relative;
  display: block;
  margin-bottom: 50px;
}
.sidebar__box:after {
  content: "";
  position: absolute;
  display: block;
  width: 80%;
  height: 1px;
  bottom: -25px;
  left: 10%;
  background: #373737;
}
.sidebar__box:last-child {
  margin-bottom: 0;
}
.sidebar__box:last-child:after {
  display: none;
}
.sidebar__box:hover {
  text-decoration: none;
  color: inherit;
}
.sidebar__title {
  margin: 0;
  padding: 0;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}
.sidebar__text {
  text-align: justify;
}
.sidebar__phone-title {
  margin-bottom: 20px;
  font-size: 24px;
}
.sidebar__phone-title--grand {
  margin: 0;
  padding: 0;
  font-size: 26px;
  color: #eb2629;
}
.sidebar__phone-present {
  text-decoration: none;
  color: inherit;
  font-size: 0;
}
.sidebar__phone-present__else {
  display: inline-block;
  margin: 0 5%;
}
.sidebar__phone-present__else:before,
.sidebar__phone-present__else:after {
  content: "";
  display: inline-block;
  width: 10px;
  height: 3px;
  background: #f86354;
}
.sidebar__phone-present__else:before {
  margin-right: 4px;
}
.sidebar__phone-present__else:after {
  margin-left: 4px;
}
.sidebar__oscar {
  background: #e6e6e6;
  text-align: center;
}
.sidebar__oscar-title {
  padding: 5px 0;
  background: #eb2629;
  color: #fff600;
}
.sidebar__oscar-layout {
  padding: 10px 5px 5px;
  font-family: 'Verdana', 'Arial', sans-serif;
}
.sidebar__oscar-layout:after {
  content: '';
  display: table;
  clear: both;
}
.sidebar__oscar-img {
  float: left;
}
.sidebar__oscar-text {
  float: right;
  width: 75%;
  font-size: 13.5px;
  line-height: 1.3;
}
.sidebar__oscar-btn {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  padding: 5px 7px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  border-radius: 3px;
  margin-bottom: 10px;
  background: #fff600;
  font-size: 21px;
  color: #e82a2c;
}
.sidebar__food-title {
  margin-bottom: 10px;
  color: #4d4d4d;
}
.sidebar__food-text {
  margin: 0;
  font-size: 23px;
}
.footer {
  padding: 40px 20px;
  background: #e82a2c;
}
.footer__menu {
  margin-bottom: 40px;
}
.footer__menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer__menu ul li {
  display: inline-block;
}
.footer__menu ul li a {
  display: block;
  text-decoration: none;
  color: inherit;
}
.footer__menu ul li {
  margin-right: 9%;
}
.footer__menu ul li a {
  width: 35px;
  height: 35px;
  background-position: center center;
  background-repeat: no-repeat;
}
.footer__menu--vk {
  background-image: url("../img/icon-vk.png");
}
.footer__menu--fb {
  background-image: url("../img/icon-fb.png");
}
.footer__menu--twitter {
  background-image: url("../img/icon-twitter.png");
}
.footer__menu--odnoklassniki {
  background-image: url("../img/icon-odnoklassniki.png");
}
.footer__menu--google {
  background-image: url("../img/icon-google.png");
}
.footer__submenu a {
  margin-right: 23%;
  color: white;
  font-size: 16px;
  text-transform: lowercase;
}
.footer__copyright {
  text-align: center;
}
.footer__copyright-text {
  margin: 0 0 5px;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 12px;
  color: #fff1ef;
}
.news {
  margin-bottom: 55px;
  font-family: 'Verdana', 'Arial', sans-serif;
}
.news__title {
  margin-bottom: 10px;
  font-size: 27px;
  color: #eb2629;
  font-weight: bold;
  text-align: center;
}
.news__text {
  margin-bottom: 35px;
  text-align: justify;
}
.news__img-box {
  height: 370px;
  text-align: center;
  border: 6px solid #373635;
  border-radius: 5px;
  margin-bottom: 35px;
  overflow: hidden;
}
.news__img-box img {
  width: 100%;
  height: auto;
}
.comments {
  padding: 10px;
  background: #e6e6e6;
  border: 1px solid #d9d9d9;
}
.comments__head {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  vertical-align: middle;
}
.comments__head-title {
  margin: 0;
  color: #eb2629;
}
.comments__head-title:before {
  content: "";
  display: inline-block;
  position: relative;
  width: 25px;
  height: 25px;
  top: 4px;
  margin-right: 5px;
  background: url("../img/icon-logo.png") no-repeat center center;
  background-size: 100%;
}
.comments__head-count {
  margin: 0;
  text-align: right;
  color: #666565;
}
.comments__head-count:after {
  content: "";
  display: inline-block;
  position: relative;
  width: 19px;
  height: 25px;
  top: 6px;
  margin-left: 5px;
  background: url("../img/cloud-count.png") no-repeat center center;
}
.comments__write {
  position: relative;
  margin: 0 0 20px;
  padding-left: 2%;
  display: inline-block;
  font-size: 13px;
  color: #666565;
  z-index: 10;
  text-transform: lowercase;
}
.comments__write:after {
  content: "";
  position: absolute;
  width: 104%;
  height: 34px;
  top: -2px;
  left: 0;
  background: url("../img/cloud-comments.png") no-repeat center center;
  background-size: 100%;
  z-index: -1;
}
.comments__reg {
  float: right;
  font-size: 13px;
  color: #666565;
  text-decoration: underline;
}
.comments input[type="checkbox"] {
  display: none;
}
.comments__form {
  background: white;
  border-radius: 5px;
}
.comments__form:after {
  content: '';
  display: table;
  clear: both;
}
.comments__form textarea {
  width: 100%;
  font-size: 13px;
  font-style: italic;
  border: none;
  border-radius: 5px;
}
.comments__form input[type="submit"] {
  font-size: 14px;
  color: #eb2629;
  text-transform: uppercase;
  background: transparent;
  border: none;
}
.comments__more {
  float: right;
}
.comments__more a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  margin-right: 5px;
  width: 19px;
  height: 19px;
  background-position: center center;
  background-repeat: no-repeat;
}
.comments__more .smile {
  background-image: url("../img/icon-smile.png");
}
.comments__more .file {
  background-image: url("../img/icon-bracket.png");
}
.comments-item {
  font-size: 18px;
}
.comments-item__img {
  float: left;
  margin-right: 5px;
  width: 65px;
  height: 56px;
  background: url("../img/cloud-author.gif") no-repeat center center;
  background-size: 100%;
  text-align: center;
}
.comments-item__img img {
  width: 94%;
  margin-top: 6%;
}
.comments-item__author {
  display: inline-block;
}
