html,
body {
  padding: 0;
  margin: 0;
}
body {
  font-family: 'OpenSans', 'Arial', sans-serif;
  font-size: 14px;
}
.layout-center-wrapper {
  width: 1000px;
  margin: 0 auto;
}
.clearfix:after {
  content: '';
  display: table;
  clear: both;
}
.header {
  margin-bottom: 80px;
}
.header .head {
  margin-bottom: 10px;
  padding: 7px 0;
  background: #e82a2c;
}
.header .head__breadcrumb {
  float: left;
}
.header .head__breadcrumb ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0;
}
.header .head__breadcrumb ul li {
  display: inline-block;
}
.header .head__breadcrumb ul li a {
  display: block;
  text-decoration: none;
  color: inherit;
}
.header .head__breadcrumb ul li {
  margin-right: 3px;
  color: #cccccc;
  border-right: 1px solid #cccccc;
}
.header .head__breadcrumb ul li:last-child {
  color: white;
  border: none;
}
.header .head__breadcrumb ul li:not(:last-child) a:hover {
  color: #808080;
}
.header .head__breadcrumb ul li a {
  margin-right: 3px;
  font-size: 13px;
  text-transform: lowercase;
}
.header .head__registration {
  float: right;
}
.header .head__registration a {
  color: white;
  text-decoration: none;
}
.header .head__registration a:hover {
  text-decoration: underline;
}
.header__banner {
  margin-bottom: 35px;
  text-align: center;
}
.header__logo {
  margin-bottom: 25px;
  text-align: center;
}
.header .form__search {
  margin-bottom: 55px;
}
.header .form__search-layout {
  position: relative;
  width: 63%;
  margin: 0 auto 5px;
  padding: 0;
  border: none;
}
.header .form__search-field {
  box-sizing: border-box;
  width: 100%;
  padding: 5px 30px 5px 5px;
  font-size: 16px;
  border: 1px solid #373737;
}
.header .form__search-btn {
  position: absolute;
  right: 5px;
  top: 50%;
  margin-top: -14px;
  width: 28px;
  height: 28px;
  background: url("../img/icon-search.png") no-repeat center center;
  border: none;
  outline: none;
}
.header .form__search-text {
  margin: 0;
  text-align: center;
  font-family: 'Verdana', 'Arial', sans-serif;
  color: #666565;
  font-weight: bold;
  font-style: italic;
}
.header .form__search-text span {
  color: #f86354;
}
.top-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 0;
}
.top-menu ul li {
  display: inline-block;
}
.top-menu ul li a {
  display: block;
  text-decoration: none;
  color: inherit;
}
.top-menu ul li {
  width: 20%;
}
.top-menu ul li a {
  color: #eb2629;
  font-size: 26px;
  font-weight: bold;
  text-transform: uppercase;
}
.main {
  float: left;
  width: 67%;
}
.sidebar {
  float: right;
  width: 30%;
}
.content__row:last-of-type {
  margin-bottom: 75px;
}
.content__item {
  float: left;
  width: 33.33333333%;
  margin-bottom: 25px;
  text-align: center;
}
.content__item--big {
  width: 100%;
}
.content__next {
  text-decoration: none;
  color: inherit;
  font-size: 88.45px;
  font-weight: bold;
}
