.pull-left {
  float: left;
}
@font-face {
  font-family: OpenSans Light;
  src: url(fonts/open_sans/OpenSans-Light.ttf);
}
@font-face {
  font-family: OpenSans-Bold;
  src: url(fonts/open_sans/OpenSans-Bold.ttf);
}
@font-face {
  font-family: OpenSans-Regular;
  src: url(fonts/open_sans/OpenSans-Bold.ttf);
}
@font-face {
  font-family: OpenSans-Italic;
  src: url(fonts/open_sans/OpenSans-Italic.ttf);
}
html,
body {
  padding: 0;
  margin: 0;
}
body {
  font-family: 'OpenSans', 'Arial', sans-serif;
  font-size: 14px;
}
.layout-center-wrapper {
  width: 1000px;
  margin: 0 auto;
}
.row:after {
  content: '';
  display: table;
  clear: both;
}
*::-webkit-input-placeholder {
  color: #666565;
  opacity: 1;
}
*:-moz-placeholder {
  color: #666565;
  opacity: 1;
}
*::-moz-placeholder {
  color: #666565;
  opacity: 1;
}
*:-ms-input-placeholder {
  color: #666565;
  opacity: 1;
}
.form {
  position: absolute;
  top: 50px;
  width: 100%;
  max-width: 1000px;
  left: 50%;
  margin-left: -500px;
  background: white;
  border: 4px solid #eb2629;
  border-radius: 6px;
  text-align: center;
}
.form__esc {
  position: absolute;
  width: 20px;
  height: 18px;
  top: 20px;
  right: 20px;
  background: url("../img/icon-close.png") no-repeat center center;
}
.form input {
  outline: none;
}
.form input:not([type="submit"]) {
  padding: 1px 5px 2px;
  font-size: 24px;
  font-style: italic;
  font-family: 'OpenSans Light', 'Arial', sans-serif;
  font-weight: bold;
  border: 1px solid #666565;
  width: 216px;
  text-transform: lowercase;
}
.form input[type="submit"] {
  font-family: 'OpenSans-Bold', 'Arial', sans-serif;
  font-size: 24px;
  color: #eb2629;
  text-transform: uppercase;
  background: none;
  border: none;
}
.form__title {
  margin: 0;
  padding: 11px 0 15px;
  background: #eb2629;
  font-size: 25px;
  color: #ffffff;
  font-family: 'OpenSans-Bold', 'Arial', sans-serif;
  text-transform: uppercase;
}
.form__title--regular {
  margin-bottom: 25px;
  padding: 0;
  background: transparent;
  font-size: 24px;
  color: #666565;
}
.form__title--sub {
  margin: -15px 10px 20px;
  font-style: italic;
  font-family: 'OpenSans Light', 'Arial', sans-serif;
  font-weight: bold;
  font-size: 24px;
  color: #666565;
}
.form fieldset {
  position: relative;
  margin: 0;
  padding: 25px 0;
  border: none;
}
.form fieldset:not(:last-child):after {
  content: "";
  position: absolute;
  width: 80%;
  height: 2px;
  bottom: -2px;
  left: 10%;
  background: #666565;
}
.form fieldset:last-child {
  padding-bottom: 15px;
}
.form__input {
  margin-bottom: 15px;
}
.form__forget {
  display: block;
  margin-top: 10px;
  color: #666565;
  font-style: italic;
  font-size: 18px;
  font-family: 'OpenSans Light', 'Arial', sans-serif;
  font-weight: bold;
  text-decoration: underline;
}
.form__enter input:not([type="submit"]) {
  margin-right: 5%;
}
.form__enter input:not([type="submit"]):last-child {
  margin-right: 0;
}
.form__socials ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.form__socials ul li {
  display: inline-block;
}
.form__socials ul li a {
  display: block;
  text-decoration: none;
  color: inherit;
}
.form__socials ul li {
  margin-right: 9%;
}
.form__socials ul li:last-child {
  margin-right: 0;
}
.form__socials ul li a {
  width: 35px;
  height: 35px;
  background-position: center center;
  background-repeat: no-repeat;
  width: 56px;
  height: 56px;
  background-size: contain;
}
.form__socials--vk {
  background-image: url("../img/icon-vk_red.png");
}
.form__socials--fb {
  background-image: url("../img/icon-fb_red.png");
}
.form__socials--twitter {
  background-image: url("../img/icon-twitter_red.png");
}
.form__socials--odnoklassniki {
  background-image: url("../img/icon-odnoklassniki_red.png");
}
.form__socials--google {
  background-image: url("../img/icon-google_red.png");
}
.form__required {
  position: absolute;
  width: 19px;
  height: 19px;
  top: -13px;
  background: url("../img/icon-required.png") no-repeat center center;
}
.form__required-l {
  position: relative;
}
.form .capcha {
  float: right;
  width: 165px;
  height: 63px;
  margin-right: 5%;
  margin-bottom: 30px;
  background: #acacac url("../img/content/capcha.png") no-repeat center center;
  border: 3px solid #eb2629;
}
.form .capcha-l {
  margin: 45px auto 0;
}
.form .capcha-l .form__required-l {
  float: left;
  margin-left: 5%;
  margin-top: 12px;
}
.form__identification {
  border-bottom: 5px solid #eb2629;
}
.form__reg .form__input:first-of-type input {
  margin-bottom: 20px;
  width: 250px;
}
.form--add .form__title-l {
  background: #eb2629;
}
.form--add .form__title--regular {
  font-size: 14px;
  text-align: right;
  margin-right: 10%;
  margin-bottom: 0;
}
.form--add .form__title--add {
  font-size: 40px;
  color: #eb2629;
  background: transparent;
}
.form--add .top-menu {
  padding-bottom: 10px;
}
.form--add .top-menu ul li {
  width: 15%;
  min-width: 139px;
}
.form--add .top-menu ul li a {
  color: white;
  font-size: 18px;
  opacity: .65;
}
.form--add .top-menu ul li a:hover,
.form--add .top-menu ul li a.active {
  color: white;
  opacity: 1;
}
.form--add .top-menu ul li a:hover .top-menu__img img,
.form--add .top-menu ul li a.active .top-menu__img img {
  display: block;
}
.form--add .top-menu__img {
  margin-bottom: 5px;
}
.form--add fieldset {
  padding: 5px 0 10px;
}
.form--add .form__enter {
  position: relative;
  padding-top: 30px;
}
.form--add .form__enter .form__forget {
  position: absolute;
  top: 0;
  margin-top: 0;
  right: 5px;
}
.form--add .form__socials li {
  margin-right: 6%;
}
.form--add .form__socials a {
  width: 35px;
  height: 35px;
}
.form--add .form__reg .form__input {
  padding-top: 15px;
}
.form--add .form__reg .capcha-l {
  margin-top: -20px;
}
.form fieldset.form__add {
  padding: 5px 28.5px 15px;
  border-bottom: 60px solid #eb2629;
}
.form__add fieldset:after {
  display: none;
}
.form__add-link label,
.form__add-description label {
  display: block;
}
.form__add input[type="text"],
.form__add-description-l {
  float: right;
  width: 95%;
  max-width: 95%;
}
.form__add-description-l:after {
  content: '';
  display: table;
  clear: both;
}
.form__add textarea {
  padding: 1px 5px 2px;
  font-size: 24px;
  font-style: italic;
  font-family: 'OpenSans Light', 'Arial', sans-serif;
  font-weight: bold;
  border: 1px solid #666565;
  width: 100%;
  max-width: 888px;
  outline: none;
}
.form__add-link .col-md-12:first-child {
  margin-bottom: 15px;
}
.form__add-link-more {
  margin: 0 0 20px;
  font-style: italic;
  font-family: 'OpenSans Light', 'Arial', sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: #666565;
  text-align: right;
}
.form__add-link-more a {
  color: #ff0000;
  text-decoration: underline;
}
.form__add-link-more a:hover {
  color: #ff6666;
}
.form__add-link-more a:active {
  color: #cc0000;
}
.form__add-description-l {
  display: inline-block;
  margin-bottom: 20px;
}
.form__add-send {
  text-align: left;
}
.form__add-send input[type="submit"] {
  display: block;
  margin: 0 auto;
  border: 1px solid #757576;
}
.form__add-accept {
  display: inline-block;
  margin-left: 15%;
}
.form__add-accept input[type="checkbox"] {
  display: none;
}
.form__add-accept input[type="checkbox"]:checked ~ label[for="accept"]:before {
  content: "";
  position: absolute;
  width: 27px;
  height: 26px;
  left: -4px;
  bottom: 0;
  background: url("../img/icon-checkbox.png") no-repeat center center;
}
.form__add-accept label {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  border: 1px solid #757576;
  vertical-align: sub;
}
.form__add-accept a {
  margin-left: 10px;
  font-size: 18px;
  font-style: italic;
  font-family: 'OpenSans Light', 'Arial', sans-serif;
  font-weight: bold;
  color: #666565;
}
.form__number {
  float: left;
  width: 5%;
  color: #eb2629;
  font-size: 48.57px;
  font-weight: bold;
  line-height: 36px;
  vertical-align: top;
}
.form__number--file {
  width: 12.7%;
}
.file_upload {
  float: left;
  position: relative;
  overflow: hidden;
  width: 87.3%;
  height: 36px;
  line-height: 36px;
}
.file_upload-l {
  width: 85%;
}
.file_upload-l:after {
  content: '';
  display: table;
  clear: both;
}
.file_upload-l--r {
  float: right;
}
.file_upload__field,
.file_upload__btn {
  float: left;
  border: 1px solid black;
  color: #666565;
}
.file_upload__field {
  padding: 1px 5px 2px;
  font-size: 24px;
  font-style: italic;
  font-family: 'OpenSans Light', 'Arial', sans-serif;
  font-weight: bold;
  border: 1px solid #666565;
  width: 89%;
  height: 36px;
  border-right: none;
  line-height: 30px;
  text-align: left;
}
.file_upload__btn {
  width: 36px;
  height: 36px;
  background: url("../img/icon_add.png") no-repeat center center;
}
.file_upload input[type=file] {
  position: absolute;
  left: 0;
  top: 0;
  visibility: hidden;
}
.form__add-screen {
  border: 1px solid #666565;
  border-top: none;
}
.form__add-screen.file_upload-l {
  width: 100%;
}
.form__add-screen .file_upload {
  width: 100%;
  height: 52px;
}
.form__add-screen .file_upload__field {
  padding: 10px 55px 10px 5px;
  width: 100%;
  height: 100%;
  text-align: right;
  color: #000000;
  font-size: 18px;
  font-style: italic;
  font-family: 'OpenSans Light', 'Arial', sans-serif;
  font-weight: bold;
  border: none;
}
.form__add-screen .file_upload__btn {
  position: absolute;
  width: 12px;
  height: 100%;
  right: 20px;
  top: 0;
  background: url("../img/icon-bracket.png") no-repeat center center;
  background-size: 100%;
  border: none;
}
/* ширма (полупрозрачное затенение под модальным окном) */
.shim {
  /* фиксируем, растягиваем на весь доступный экран */
  position: fixed;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  z-index: 50;
  display: none;
  /* если в модальном окне много содержимого, показываем скроллбар */
  overflow: auto;
  /* однопальцевый скролл для iPad*/
  -webkit-overflow-scrolling: touch;
}
/* фикс для странностей в iPad */
.shim > * {
  -webkit-transform: translateZ(0px);
}
/* декоративная часть ширмы: делаем полупрозрачной и чёрной */
.shim {
  background: rgba(0, 0, 0, 0.5);
}
.header {
  margin-bottom: 60px;
}
.header .head {
  margin-bottom: 10px;
  padding: 7px 0;
  background: #e82a2c;
}
.header .head__breadcrumb {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0;
}
.header .head__breadcrumb li {
  display: inline-block;
}
.header .head__breadcrumb li a {
  display: block;
  text-decoration: none;
  color: inherit;
}
.header .head__breadcrumb li {
  margin-right: 3px;
  color: #cccccc;
  border-right: 1px solid #cccccc;
}
.header .head__breadcrumb li:last-child {
  color: white;
  border: none;
}
.header .head__breadcrumb li:not(:last-child) a:hover {
  color: #808080;
}
.header .head__breadcrumb li a {
  margin-right: 3px;
  font-size: 13px;
  text-transform: lowercase;
}
.header .head__registration {
  text-align: right;
  color: white;
}
.header .head__registration a {
  text-decoration: none;
  color: inherit;
  margin-left: 10px;
}
.header .head__registration a:first-child {
  margin-left: 0;
}
.header .head__registration a:hover {
  text-decoration: underline;
}
.header__banner {
  margin-bottom: 35px;
  text-align: center;
}
.header__logo {
  margin-bottom: 25px;
  text-align: center;
}
.header .form__search {
  margin-bottom: 55px;
}
.header .form__search-layout {
  position: relative;
  margin: 0 auto 5px;
  padding: 0;
  border: none;
}
.header .form__search-field {
  width: 100%;
  box-sizing: border-box;
  padding: 5px 35px 5px 5px;
  font-size: 16px;
  border: 1px solid #373737;
  outline: none;
}
.header .form__search-btn {
  position: absolute;
  right: 5px;
  top: 50%;
  margin-top: -14px;
  width: 28px;
  height: 28px;
  background: url("../img/icon-search.png") no-repeat center center;
  border: none;
  outline: none;
}
.header .form__search-text {
  margin: 0;
  text-align: center;
  font-family: 'Verdana', 'Arial', sans-serif;
  color: #666565;
  font-weight: bold;
  font-style: italic;
}
.header .form__search-text span {
  color: #f86354;
}
.top-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 0;
}
.top-menu li {
  display: inline-block;
}
.top-menu li a {
  display: block;
  text-decoration: none;
  color: inherit;
}
.top-menu li {
  width: 20%;
}
.top-menu li a {
  color: #666565;
  font-size: 26px;
  font-weight: bold;
  text-transform: uppercase;
}
.top-menu li a .top-menu__img img {
  margin: 0 auto;
}
.top-menu li a .top-menu__img img:first-child {
  display: none;
}
.top-menu li a .top-menu__img img:last-child {
  display: block;
}
.top-menu li a:hover,
.top-menu li a.active {
  color: #eb2629;
}
.top-menu li a:hover img:first-child,
.top-menu li a.active img:first-child {
  display: block;
}
.top-menu li a:hover img:last-child,
.top-menu li a.active img:last-child {
  display: none;
}
.top-menu li a:hover .date,
.top-menu li a.active .date {
  background: #eb2629;
}
main {
  position: relative;
  margin-bottom: 20px;
}
main .next {
  position: absolute;
  left: 15px;
  bottom: -13px;
  text-decoration: none;
  color: inherit;
  font-size: 88.45px;
  line-height: 1;
  font-weight: bold;
  color: black;
}
main .next:hover {
  color: #4d4d4d;
}
main .next--smaller {
  font-size: 45.87px;
}
.content .row:last-of-type {
  margin-bottom: 100px;
}
.content__item {
  margin-bottom: 35px;
  padding: 0 15px;
  text-align: center;
}
.content__item a {
  text-decoration: none;
  color: inherit;
}
.content__item .img-box {
  position: relative;
  height: 115px;
  border: 2px solid #373635;
  border-radius: 5px;
}
.content__item .img-box:after {
  content: '';
  display: table;
  clear: both;
}
.content__item .img-box:before {
  content: "vs";
  position: absolute;
  width: 36px;
  height: 36px;
  top: 50%;
  margin-top: -18px;
  left: 50%;
  margin-left: -18px;
  background: #e6e6e6;
  border-radius: 50%;
  font-family: 'OpenSans Light', 'Arial', sans-serif;
  font-size: 27px;
  line-height: 31px;
  z-index: 10;
}
.content__item .img-box__part {
  position: relative;
  float: left;
  width: 50%;
  height: 100%;
  overflow: hidden;
}
.content__item .img-box__part img {
  width: 200%;
  height: auto;
}
.content__item .img-box__part:first-child {
  border-right: 1px solid #373635;
}
.content__item .img-box__part:last-child {
  border-left: 1px solid #373635;
}
.content__item .img-box__part:last-child img {
  position: absolute;
  top: 0;
  right: 0;
}
.content__item .img-box__title {
  margin: 0;
  padding: 0 2px;
  line-height: 1.27;
  font-weight: bold;
  text-align: left;
  word-wrap: break-word;
}
.content__item--big .img-box {
  position: relative;
  height: 370px;
  border: 7px solid #373635;
  border-radius: 5px;
}
.content__item--big .img-box:after {
  content: '';
  display: table;
  clear: both;
}
.content__item--big .img-box:before {
  content: "vs";
  position: absolute;
  width: 110px;
  height: 110px;
  top: 50%;
  margin-top: -55px;
  left: 50%;
  margin-left: -55px;
  background: #e6e6e6;
  border-radius: 50%;
  font-family: 'OpenSans Light', 'Arial', sans-serif;
  font-size: 84px;
  line-height: 90px;
  z-index: 10;
}
.content__item--big .img-box__part {
  position: relative;
  float: left;
  width: 50%;
  height: 100%;
  overflow: hidden;
}
.content__item--big .img-box__part img {
  width: 200%;
  height: auto;
}
.content__item--big .img-box__part:first-child {
  border-right: 3.5px solid #373635;
}
.content__item--big .img-box__part:last-child {
  border-left: 3.5px solid #373635;
}
.content__item--big .img-box__part:last-child img {
  position: absolute;
  top: 0;
  right: 0;
}
.content__item--big .img-box__title {
  font-size: 46px;
}
.sidebar__box {
  text-decoration: none;
  color: inherit;
  position: relative;
  display: block;
  margin-bottom: 50px;
}
.sidebar__box:after {
  content: "";
  position: absolute;
  display: block;
  width: 80%;
  height: 1px;
  bottom: -25px;
  left: 10%;
  background: #373737;
}
.sidebar__box:last-child {
  margin-bottom: 0;
}
.sidebar__box:last-child:after {
  display: none;
}
.sidebar__box:hover {
  text-decoration: none;
  color: inherit;
}
.sidebar__title {
  margin: 0;
  padding: 0;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}
.sidebar__text {
  text-align: justify;
}
.sidebar__phone-title {
  margin-bottom: 20px;
  font-size: 24px;
}
.sidebar__phone-title--grand {
  margin: 0;
  padding: 0;
  font-size: 26px;
  color: #eb2629;
}
.sidebar__phone-present {
  text-decoration: none;
  color: inherit;
  font-size: 0;
}
.sidebar__phone-present__else {
  display: inline-block;
  margin: 0 5%;
}
.sidebar__phone-present__else:before,
.sidebar__phone-present__else:after {
  content: "";
  display: inline-block;
  width: 10px;
  height: 3px;
  background: #f86354;
}
.sidebar__phone-present__else:before {
  margin-right: 4px;
}
.sidebar__phone-present__else:after {
  margin-left: 4px;
}
.sidebar__oscar {
  background: #e6e6e6;
  text-align: center;
}
.sidebar__oscar-title {
  padding: 5px 0;
  background: #eb2629;
  color: #fff600;
}
.sidebar__oscar-layout {
  padding: 10px 5px 5px;
  font-family: 'Verdana', 'Arial', sans-serif;
}
.sidebar__oscar-layout:after {
  content: '';
  display: table;
  clear: both;
}
.sidebar__oscar-img {
  float: left;
}
.sidebar__oscar-text {
  float: right;
  width: 75%;
  font-size: 13.5px;
  line-height: 1.3;
}
.sidebar__oscar-btn {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  padding: 5px 7px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  border-radius: 3px;
  margin-bottom: 10px;
  background: #fff600;
  font-size: 21px;
  color: #e82a2c;
}
.sidebar__food-title {
  margin-bottom: 10px;
  color: #4d4d4d;
}
.sidebar__food-text {
  margin: 0;
  font-size: 23px;
}
.footer {
  padding: 40px 20px;
  background: #e82a2c;
}
.footer:after {
  content: '';
  display: table;
  clear: both;
}
.footer__menu {
  margin-bottom: 40px;
}
.footer__menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer__menu ul li {
  display: inline-block;
}
.footer__menu ul li a {
  display: block;
  text-decoration: none;
  color: inherit;
}
.footer__menu ul li {
  margin-right: 9%;
}
.footer__menu ul li a {
  width: 35px;
  height: 35px;
  background-position: center center;
  background-repeat: no-repeat;
}
.footer__menu--vk {
  background-image: url("../img/icon-vk.png");
}
.footer__menu--fb {
  background-image: url("../img/icon-fb.png");
}
.footer__menu--twitter {
  background-image: url("../img/icon-twitter.png");
}
.footer__menu--odnoklassniki {
  background-image: url("../img/icon-odnoklassniki.png");
}
.footer__menu--google {
  background-image: url("../img/icon-google.png");
}
.footer__submenu a {
  margin-right: 10%;
  color: white;
  font-size: 16px;
  text-transform: lowercase;
}
.footer__copyright {
  text-align: center;
}
.footer__copyright-text {
  margin: 0 0 5px;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 12px;
  color: #fff1ef;
}
.news {
  margin-bottom: 55px;
  font-family: 'Verdana', 'Arial', sans-serif;
}
.news__title {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 27px;
  color: #eb2629;
  font-weight: bold;
  text-align: center;
}
.news__text {
  margin-bottom: 35px;
  text-align: justify;
}
.news__img-box {
  height: 370px;
  text-align: center;
  border: 6px solid #373635;
  border-radius: 5px;
  margin-bottom: 35px;
  overflow: hidden;
}
.news__img-box img {
  width: 100%;
  height: auto;
}
.comments {
  position: relative;
  height: 90%;
  margin-top: 10px;
  margin-bottom: 100px;
  padding: 10px;
  background: #e6e6e6;
  border: 1px solid #d9d9d9;
}
.comments__head {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  vertical-align: middle;
}
.comments__head-title {
  margin: 0;
  color: #eb2629;
}
.comments__head-title:before {
  content: "";
  display: inline-block;
  position: relative;
  width: 25px;
  height: 25px;
  top: 4px;
  margin-right: 5px;
  background: url("../img/icon-logo.png") no-repeat center center;
  background-size: 100%;
}
.comments__head-count {
  margin: 0;
  text-align: right;
  color: #666565;
}
.comments__head-count:after {
  content: "";
  display: inline-block;
  position: relative;
  width: 19px;
  height: 25px;
  top: 6px;
  margin-left: 5px;
  background: url("../img/cloud-count.png") no-repeat center center;
}
.comments__write {
  position: relative;
  margin: 0 0 20px;
  padding-left: 2%;
  display: inline-block;
  font-size: 13px;
  color: #666565;
  z-index: 10;
  text-transform: lowercase;
}
.comments__write:after {
  content: "";
  position: absolute;
  width: 104%;
  height: 34px;
  top: -2px;
  left: 0;
  background: url("../img/cloud-comments.png") no-repeat center center;
  background-size: 100%;
  z-index: -1;
}
.comments__reg {
  float: right;
  font-size: 13px;
  color: #666565;
  text-decoration: underline;
}
.comments__reg:hover,
.comments__reg:active {
  color: #666565;
}
.comments input[type="checkbox"] {
  display: none;
}
.comments input[type="checkbox"]:checked ~ .comments__form--answer {
  display: block;
}
.comments__form {
  background: white;
  border-radius: 5px;
}
.comments__form:after {
  content: '';
  display: table;
  clear: both;
}
.comments__form--answer {
  display: none;
  position: relative;
  margin-left: 40px;
  margin-top: 10px;
}
.comments__form--answer:after {
  content: "";
  position: absolute;
  top: -14px;
  left: 40px;
  width: 10px;
  height: 14px;
  background: linear-gradient(to right top, #ffffff 49%, transparent 51%);
  -webkit-transform: skewX(15deg);
          transform: skewX(15deg);
}
.comments__form textarea {
  width: 100%;
  max-width: 100%;
  font-size: 13px;
  font-style: italic;
  border: none;
  border-radius: 5px;
  outline: none;
}
.comments__form input[type="submit"] {
  font-size: 14px;
  color: #eb2629;
  text-transform: uppercase;
  background: transparent;
  border: none;
}
.comments__more {
  float: right;
}
.comments__more a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  margin-right: 5px;
  width: 19px;
  height: 19px;
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
}
.comments__more .smile {
  background-image: url("../img/icon-smile.png");
}
.comments__more .file {
  background-image: url("../img/icon-bracket.png");
  background-size: auto 100%;
}
.comments-item {
  margin-bottom: 25px;
  font-size: 18px;
}
.comments-item--main {
  margin-bottom: 15px;
}
.comments-item__img {
  float: left;
  margin-right: 5px;
  width: 65px;
  height: 56px;
  background: url("../img/content/cloud-author.png") no-repeat center center;
  background-size: 100%;
  text-align: center;
}
.comments-item__img img {
  width: 94%;
  margin-top: 6%;
}
.comments-item__head {
  display: inline-block;
  width: 75%;
  font-style: italic;
  font-family: 'OpenSans-Italic', 'Arial', sans-serif;
}
.comments-item__head:after {
  content: '';
  display: table;
  clear: both;
}
.comments-item__author {
  float: left;
  margin: 0;
  color: #eb2629;
}
.comments-item__rang {
  float: right;
  margin: 0;
  color: #666565;
}
.comments-item__text {
  margin: 0;
}
.comments-item__more:after {
  content: '';
  display: table;
  clear: both;
}
.comments-item__answer {
  font-size: 14px;
  font-family: 'OpenSans-Italic', 'Arial', sans-serif;
  color: #666565;
  cursor: pointer;
}
.comments-item__counter {
  background: #666565;
  font-family: 'OpenSans-Italic', 'Arial', sans-serif;
  font-size: 12px;
  line-height: 1.1;
  color: white;
  border: none;
  outline: none;
}
.comments-item__counter-l {
  text-align: right;
}
.comments__all {
  position: absolute;
  bottom: 15px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  color: #eb2629;
  cursor: pointer;
  line-height: 2;
}
.comments__all:before {
  content: "";
  display: inline-block;
  width: 28px;
  height: 39px;
  vertical-align: bottom;
  margin-right: 10px;
  background: url("../img/icon_down.png") no-repeat center center;
}
.comments__all:visited {
  text-decoration: none;
  color: #eb2629;
}
.comments__all:hover,
.comments__all:active {
  color: #cb1316;
}
.date {
  margin: 0 auto;
  width: 80px;
  height: 69px;
  background: #666565;
  border-radius: 10px;
}
.date p {
  margin: 0;
  font-family: 'OpenSans-Bold', 'Arial', sans-serif;
  color: white;
  line-height: 0.9;
  text-transform: lowercase;
}
.date__day {
  font-size: 56.41px;
}
.date__month {
  font-size: 15px;
}
.scroll_top {
  text-decoration: none;
  color: inherit;
  position: fixed;
  right: 50px;
  top: 50%;
  margin-top: -50px;
  width: 50px;
  height: 100px;
  background: url("../img/icon_up.png") no-repeat center center;
  background-size: 100%;
}
.private .title,
.private .rang {
  margin: 0;
  font-size: 30px;
}
.private .title {
  line-height: 1;
}
.private .rang {
  margin-bottom: 15px;
  color: #e82a2c;
  font-family: 'OpenSans-Bold', 'Arial', sans-serif;
  text-transform: uppercase;
}
.private .subtext {
  font-size: 16px;
}
.private.header {
  margin-bottom: 35px;
}
.private .avatar {
  width: 74%;
}
.private .avatar-l {
  position: relative;
  float: left;
  width: 25%;
}
.private .avatar-l:after {
  content: "";
  position: absolute;
  width: 2px;
  height: 100%;
  top: 0;
  right: 12%;
  background: black;
}
.private .avatar img {
  width: 100%;
  height: auto;
}
.private .info-l {
  float: left;
  width: 75%;
}
.private .info__part {
  float: left;
  width: 50%;
}
.private .info__part--options-item {
  margin-bottom: 15px;
  text-align: right;
}
.private .info__part--options-item a {
  font-size: 16px;
  color: black;
  text-decoration: underline;
}
.private .info__text {
  margin: 0;
  font-family: 'OpenSans-Italic', 'Arial', sans-serif;
  font-weight: bold;
}
.private__menu {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 15px;
  background: #666565;
  text-align: center;
}
.private__menu li {
  display: inline-block;
  margin-right: 5.5%;
}
.private__menu li:last-of-type {
  margin-right: 0;
}
.private__menu li a {
  color: white;
  font-family: 'OpenSans Light', 'Arial', sans-serif;
  font-size: 16px;
  text-transform: lowercase;
  vertical-align: middle;
}
.private__menu li a:hover,
.private__menu li a:active {
  color: #defd23;
  text-decoration: underline;
}
.private__menu li.active a {
  color: #defd23;
  text-decoration: underline;
}
.private__menu-home,
.private__menu-search {
  display: inline-block;
  height: 23px;
  background-repeat: no-repeat;
  background-position: center center;
}
.private__menu-home {
  margin-right: 15px;
  width: 23px;
  background-image: url("../img/icon-home.png");
}
.private__menu-search {
  width: 25px;
  background-image: url("../img/icon-search--private.png");
}
.private .form {
  position: static;
  margin-left: 0;
  border: none;
}
.private .form .file_upload {
  float: none;
  display: block;
  height: auto;
}
.private .form .file_upload__field {
  float: none;
  border: none;
  width: 100%;
  height: auto;
  padding: 0;
}
.private .form .file_upload__btn {
  border: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background-image: none;
  background: rgba(255, 255, 255, 0.5);
  font-size: 28px;
  text-transform: uppercase;
  padding-top: 50%;
  color: black;
}
.private .form .file_upload__btn:hover,
.private .form .file_upload__btn:active {
  text-decoration: none;
}
.private .form .info__item {
  display: block;
  margin-bottom: 10px;
  padding: 0;
  text-align: left;
  font-size: 16px;
  color: black;
}
.private .form .info__item input {
  padding: 0;
  font-size: 16px;
  font-style: normal;
  font-family: inherit;
  background-color: #defd23;
  border-color: #d0eb2e;
}
.private .form .info__item input[type="text"] {
  text-transform: capitalize;
}
.popup-show {
  display: block;
}
.hide {
  display: none;
}
.clearfix:after {
  content: '';
  display: table;
  clear: both;
}
