doctype html
html(lang="ru")
    head
        include head    
    body
        include header-def
        
        .container
            main.row
                .main.col-md-12                    
                    .content.news
                        p.news__title.
                            Сайт находится в стадии разработки
                        .news__text
                            h1 Фаст флуд
                            p Википедия дает флуду следующее определение:
                                blockquote
                                    | Флуд (от неверно произносимого 
                                    a(href="https://ru.wikipedia.org/wiki/%D0%90%D0%BD%D0%B3%D0%BB%D0%B8%D0%B9%D1%81%D0%BA%D0%B8%D0%B9_%D1%8F%D0%B7%D1%8B%D0%BA") англ. 
                                    | flood — поток) — сообщения в интернет-форумах и чатах, занимающие большие объемы, без смысла.
                                    br
                                    | Технический флуд представляет собой хакерскую атаку с большим количеством запросов, приводящую к отказу в обслуживании.
                                    br
                                    | Флуд распространяется как в результате избытка свободного времени, так и с целью 
                                    a(href="https://ru.wikipedia.org/wiki/%D0%A2%D1%80%D0%BE%D0%BB%D0%BB%D0%B8%D0%BD%D0%B3") троллинга 
                                    | — например, из желания кому-то досадить.

                            p Однако русские люди пошли дальше и придумали английское написание нашего слова флуд -  FLUD!
                            p
                                | На нашем интернет ресурсе мы не ставим себе задачу кому-то досадить, и уж тем более делаем это не от избытка свободного времени.
                                br
                                | Просто в последнее время количество материалов,логотипов,шаблонных сайтов и просто откровенно ворованных фотографий и статей начинает зашкаливать.
                                br
                                | Мы хотим сделать Интернет немного чище. И уж если не привлекать к ответственности за воровство, то по крайней мере пожурить по- отечески воров, словами:  «УУУУУУУУ….. Сука».
                                br
                                | Предлагаем Вам поучаствовать в этом увлекательном приключении и по итогам года выбрать всеобщим голосованием лучшего Флудера.
                            p
                                | Вы спросите а почему тогда FAST?
                                br
                                | Ну как гласит наша замечательная поговорка «Быстро с….л и ушел, все равно что нашел». Ну так вот, мы надеемся, с Вашей помощью отлавливать таких шустряков и достойно награждать.
                                br
                                | Присылайте свои материалы нам на рассмотрение, публикуйте на нашем портале свои сравнения, войдите в состав народного жюри по определению лучшего Флудера года и будет вам счастье.
                            p
                                | Встретимся в сети. Удачи.
            include footer