//форма регистрации
.form--add-container.form.form--add
    input.form-menu__controls(type="radio" name="menu-controls" id="for-form-site" value="site" checked)
    input.form-menu__controls(type="radio" name="menu-controls" id="for-form-logo" value="logo")
    input.form-menu__controls(type="radio" name="menu-controls" id="for-form-trash" value="trash")
    .form__title-l
        p.form__title.form__title Хочу предложить пост
            nav.top-menu.row
                ul
                    li: label(for="for-form-site")
                        .top-menu__img
                            img(src="../img/icon-site--white.png")
                        | Сайты
                    li: label(for="for-form-logo")
                        .top-menu__img
                            img(src="../img/icon-logo--white.png")
                        | Логотипы
                    li: label(for="for-form-trash")
                        .top-menu__img
                            img(src="../img/icon-more--white.png")
                        | Прочий хлам
    a.form__esc(href="#")
    //form.form--add(action="#" method="post" name="add" id="add" enctype="multipart/form-data")




    block form-add_site
    block form-add_logo
    block form-add_trash