extends form-add_parts
block form-add_site
    p.form__title.form__title--add Добавить по теме "Сайты"
    
    fieldset.form__add-link
        label
            span 1
            input(type="text" placeholder='ссылка на сайт "у кого"' name="from-whom")
        label
            span 2
            input(type="text" placeholder='ссылка на сайт "кто"' name="who")
        p.form__add-link-more
            | массовое копирование сайта 
            a(href="#") добавить еще
            
    fieldset.form__add-description
        label
            span 3
            .form__add-description-l
                textarea(name="description" rows="6" placeholder="Ваши комментарии")
                .form__add-screen
                    .screen
                    a(href="#").add-screen добавить скриншоты
                
    fieldset.form__add-send
        .row
            .col-md-4
                .form__add-accept
                    input(type="checkbox" name="accept" id="accept" checked)
                    label(for="accept")                
                    a(href="#") Принять условия
            .col-md-4
                input(type="submit" value="Отправить")


block form-add_logo
    p.form__title.form__title--add Добавить по теме "Логотипы"

        fieldset.form__add-link
            .row
                .col-md-6
                    label
                        span 1
                        input(type="text" placeholder='добавить файл "у кого"' name="file_from-whom")
                .col-md-6
                    label
                        span 2
                        input(type="text" placeholder='добавить файл "у кого"' name="file_who")
            label
                span 3
                input(type="text" placeholder='ссылка на сайт "у кого"' name="from-whom")
            label
                span 4
                input(type="text" placeholder='ссылка на сайт "кто"' name="who")
            p.form__add-link-more
                | массовое копирование сайта 
                a(href="#") добавить еще

        fieldset.form__add-description
            label
                span 5
                .form__add-description-l
                    textarea(name="description" rows="6" placeholder="Ваши комментарии")
                    .form__add-screen
                        .screen
                        a(href="#").add-screen добавить скриншоты

        fieldset.form__add-send
            .row
                .col-md-4
                    .form__add-accept
                        input(type="checkbox" name="accept" id="accept" checked)
                        label(for="accept")                
                        a(href="#") Принять условия
                .col-md-4
                    input(type="submit" value="Отправить")