-var breadCrumbs = ["Главная","Логотипы","Новость"]
-var topMenu = ["Сайты", "Логотипы", "Прочий хлам", "Новенькое", "Добавить"]

header.header
    .head
        .container
            .row
                nav.head__breadcrumb.col-md-8
                    ul
                        each item in breadCrumbs
                            li: a(href="#") #{item}

                .head__registration.col-md-4
                    a(href="#") Регистрация / Вход
                    
    .container
        .header__banner.row: a(href="#"): img(src="../img/banner-up.jpg" alt="")
        .header__logo.row: a(href="#"): img(src="../img/logo.png" alt="")
    
        form.form__search.row(name="search" action="#" method="get")
            .col-md-8.col-md-offset-2
                fieldset.form__search-layout.row
                    input.form__search-field.col-md-12(type="text" name="search" placeholder="Поиск")
                    button.btn.form__search-btn
                .row
                    p.form__search-text.col-md-12 Уже добавлено 
                        span 109 примеров
                        |  шаблонных и украденных сайтов и логотипов

        nav.top-menu.row
            ul
                li: a(href="#")
                    .top-menu__img: img(src="../img/icon-site.png")
                    | Сайты
                li: a(href="#")
                    .top-menu__img: img(src="../img/icon-logo.png")
                    | Логотипы
                li: a(href="#")
                    .top-menu__img: img(src="../img/icon-more.png")
                    | Прочий хлам
                li: a(href="#")
                    .top-menu__img: img(src="../img/icon-new.png")
                    | Новенькое
                li: a(href="#")
                    .top-menu__img: img(src="../img/icon-add.png")
                    | Добавить
                