header.header
    .head
        .container
            .row
                .head__registration.col-md-4.col-md-offset-8
                    a.head__registration--reg(href="#") Регистрация 
                    | / 
                    a.head__registration--enter(href="#") Вход
                    
    .container
        .header__banner.row: a(href="#"): img(src="img/banner-up.jpg" alt="")
        .header__logo.row: a(href="#"): img(src="img/logo.png" alt="")
    
        form.form__search.row(name="search" action="#" method="get")
            .col-md-8.col-md-offset-2
                fieldset.form__search-layout.row
                    input.form__search-field.col-md-12(type="text" name="search" placeholder="Поиск")
                    button.btn.form__search-btn