-var breadCrumbs = ["Главная","Логотипы","Новость"]
-var topMenu = ["Сайты", "Логотипы", "Прочий хлам", "Новенькое", "Добавить"]

header.header
	.head
		.container
			.row
			
				//хлебные крошки
				nav.col-md-8
					ul.head__breadcrumb
						each item in breadCrumbs
							li: a(href="#") #{item}

				//регистрация
				.col-md-4
					.head__registration
						a(href="#registration" class="registration") Регистрация / Вход
					
	//баннеры
	.container
		.row
			.col-md-12
				.header__banner: a(href="#"): img(src="../img/content/banner-up.jpg" alt="")
			.col-md-12
				.header__logo: a(href="#"): img(src="../img/logo.png" alt="")
	
		//поиск
		form.form__search(name="search" action="#" method="get")
			.row
				.col-md-8.col-md-offset-2
					fieldset.form__search-layout
						input.form__search-field(type="text" name="search" placeholder="Поиск")
						button.btn.form__search-btn
				.col-md-12
					p.form__search-text Уже добавлено 
						span 109 примеров
						|  шаблонных и украденных сайтов и логотипов

		//верхнее меню
		nav.row
			.col-md-12
				ul.top-menu
					li: a(href="#")
						.top-menu__img
							img(src="../img/icon-site.png")
							img(src="../img/icon-site--off.png")
						| Сайты
					li: a(href="#")
						.top-menu__img
							img(src="../img/icon-logo.png")
							img(src="../img/icon-logo--off.png")
						| Логотипы
					li: a(href="#")
						.top-menu__img
							img(src="../img/icon-more.png")
							img(src="../img/icon-more--off.png")
						| Прочий хлам
					li: a(href="#")
						.top-menu__img
							.date#date
								p.date__day 23
								p.date__month декабря
						| Новенькое
					li: a(href="#add" class="fancybox add-form")
						.top-menu__img
							img(src="../img/icon-add.png")
							img(src="../img/icon-add--off.png")
						| Добавить
				