-var breadCrumbs = ["Главная","Логотипы","Новость"]
-var topMenu = ["Сайты", "Логотипы", "Прочий хлам", "Новенькое", "Добавить"]

header.header
    .head
        .container
            .row
            
                //хлебные крошки
                nav.head__breadcrumb.col-md-8
                    ul
                        each item in breadCrumbs
                            li: a(href="#") #{item}

                //регистрация
                .head__registration.col-md-4
                    a(href="#registration" class="fancybox registration") Регистрация / Вход
                    
    //баннеры
    .container
        .header__banner.row: a(href="#"): img(src="../img/content/banner-up.jpg" alt="")
        .header__logo.row: a(href="#"): img(src="../img/logo.png" alt="")
    
        //поиск
        form.form__search.row(name="search" action="#" method="get")
            .col-md-8.col-md-offset-2
                fieldset.form__search-layout.row
                    input.form__search-field.col-md-12(type="text" name="search" placeholder="Поиск")
                    button.btn.form__search-btn
                .row
                    p.form__search-text.col-md-12 Уже добавлено 
                        span 109 примеров
                        |  шаблонных и украденных сайтов и логотипов

        //верхнее меню
        nav.top-menu.row
            ul
                li: a(href="#")
                    .top-menu__img
                        img(src="../img/icon-site.png")
                        img(src="../img/icon-site--off.png")
                    | Сайты
                li: a(href="#")
                    .top-menu__img
                        img(src="../img/icon-logo.png")
                        img(src="../img/icon-logo--off.png")
                    | Логотипы
                li: a(href="#")
                    .top-menu__img
                        img(src="../img/icon-more.png")
                        img(src="../img/icon-more--off.png")
                    | Прочий хлам
                li: a(href="#")
                    .top-menu__img
                        .date#date
                            p.date__day 23
                            p.date__month декабря
                    | Новенькое
                li: a(href="#add" class="fancybox add-form")
                    .top-menu__img
                        img(src="../img/icon-add.png")
                        img(src="../img/icon-add--off.png")
                    | Добавить
                