//картинка-ссылка
a(href="#")
    .img-box
        .img-box__part: img(src="../img/site1.jpg", alt="site1")
        .img-box__part: img(src="../img/site2.jpg", alt="site2")
    p.img-box__title Металлоперерабатывающий завод vs завод железобетонных блоков