doctype html
html(lang="ru")
    head
        include head    
    body
        include header
        
        .container
            main.row
                .main.col-md-8
                    block content                    
                .sidebar.col-md-4
                    block sidebar
                .row
                    block next
                    
        include footer
        .hidden_elem
            include hidden_elem
        include scripts