-var rangItems = ["Новичок-стажер - 1 пост","Стажер-середина - 3 поста","Середина-профи - 7 постов","профи-эксперт - 15 постов"]


form.form.form--profile(action="post")
    .avatar-l
        label.avatar.file_upload
            .file_upload__field: img(src="../img/content/avatar.jpg" alt="foto")
            a.file_upload__btn.add-screen(href="#") Обновить
            input(type="file" name="file_screen")

    .info-l
        .info.clearfix
            .info__part
                label.info__item
                    span Nickname
                    input(type="text" name="nick" value="Anonym")
                label.info__item
                    span Имя
                    input(type="text" name="name" value="Анна")
                label.info__item
                    span Фамилия
                    input(type="text" name="surname" value="Петрова")
                fieldset.info__item.info__item--radio
                    span Пол
                    input(type="radio" name="gender" value="woman" id="woman" checked)
                    input(type="radio" name="gender" value="man" id="man")
                    label(for="woman") Ж
                    label(for="man") М
                label.info__item
                    span Дата рождения
                    input(type="date" name="date" value="1986-12-12")
                label.info__item
                    span E-mail
                    input(type="email" value="fffff@hhjj.ru")
            .info__part
                label.info__item
                    span Страна
                    input(type="text" name="country" value="РФ")
                label.info__item
                    span Город
                    input(type="text" name="city" value="Москва")
                fieldset.info__item--pass-l
                    span Смена пароля:
                    label.info__item.info__item--pass
                        span Старый пароль
                        input(type="password" name="pass-old")
                    label.info__item.info__item--pass
                        span Новый пароль
                        input(type="password" name="pass-new")
                    label.info__item.info__item--pass
                        span Повторите новый пароль
                        input(type="password" name="pass-repeat")

    input.rang__input(id="rang-info" type="checkbox")
    .rang-l
        p.rang__title Статус на FF
        label(for="rang-info").rang Профи
    .rang__info Для того чтобы повысить свой статус на FF необходимо предлагать посты!
        ul.rang__items
            each item in rangItems
                li #{item}
                
    textarea(name="cite", rows="5").info__text.info__text--area Ножницы режут бумагу, бумага заворачивает камень, камень давит ящерицу, ящерица травит Спока, Спок ломает ножницы, ножницы отрезают голову ящерице, ящерица ест бумагу, бумага подставляет Спока, Спок испаряет камень, и, как обычно, камень разбивает ножницы. &#169;

    input.btn.btn--profile(type="submit" value="Сохранить")

.friends
    p.friends__title Друзья из соц. сетей на FF
    include private_profile-friends
    mixin friend
    mixin friend
    mixin friend
    mixin friend-add
    mixin friend-add
    mixin friend-add
