mixin post
	.comments.comments__private
		.comments__header.content__item
			.img-box
				.img-box__part: img(src="../img/content/site1.jpg", alt="site1")
				.img-box__part: img(src="../img/content/site2.jpg", alt="site2")
			p.img-box__title
				span.img-box__number #208
				br
				| Металлоперерабатывающий завод vs завод железобетонных блоков
				
				
mixin post
mixin post
mixin post
mixin post