form.form.form--profile(action="post")
    .avatar-l
        label.avatar.file_upload
            .file_upload__field: img(src="../img/content/avatar.jpg" alt="foto")
            a.file_upload__btn.add-screen(href="#") Обновить
            input(type="file" name="file_screen")

    .info-l
        .info.clearfix
            .info__part
            .info__part