form.form.form--profile(action="post")
    .avatar-l
        label.avatar.file_upload
            .file_upload__field: img(src="../img/content/avatar.jpg" alt="foto")
            a.file_upload__btn.add-screen(href="#") Обновить
            input(type="file" name="file_screen")

    .info-l
        .info.clearfix
            .info__part
                label.info__item
                    span Nickname 
                    input(type="text" name="nick" value="Anonym")
                label.info__item
                    span Имя 
                    input(type="text" name="name" value="Анна")
                label.info__item
                    span Фамилия 
                    input(type="text" name="surname" value="Петрова")
                fieldset.info__item
                    span Пол 
                    label
                        | Ж
                        input(type="radio" name="gender" value="woman")
                    label
                        | М
                        input(type="radio" name="gender" value="man")
                label.info__item
                    span Дата рождения 
                    input(type="date" name="date" value="1986-12-12")
                label.info__item
                    span E-mail 
                    input(type="email" value="fffff@hhjj.ru")
            .info__part