//блок с комментами
mixin answer-block
    .comments.comments__private.comments__private--answer
        .comments__header.content__item
            .img-box
                .img-box__part: img(src="../img/content/site1.jpg", alt="site1")
                .img-box__part: img(src="../img/content/site2.jpg", alt="site2")
            p.img-box__title
                span.img-box__number #208
                br
                | Металлоперерабатывающий завод vs завод железобетонных блоков

        //поле с комментом
        .comments-item
            .comments-item__head
                p.comments-item__author Я,
                p.comments-item__rang Профи
            p.comments-item__text Купи себе лесизаблудись в нем Купи себе лес и заблудись в немм Купи себе лес и заблудись в нем Купи себе лес и заблудись в нем
            //действия на коммент
            .comments-item__more
                .comments-item__date
                    span.comments__time 20:38:59
                    span.comments__date 12.12.2014
                //оценить
                .comments-item__counter-l
                    button.comments-item__counter.comments-item__counter--plus(disabled) +1
                    button.comments-item__counter.comments-item__counter--minus(disabled) -10
            //поле с комментом answer
            .comments-item.comments-item--answer
                .comments-item__img
                    img(src="../img/content/site1.jpg", alt="")
                .comments-item__head
                    p.comments-item__author Anonym
                    p.comments-item__rang Эксперт
                p.comments-item__text Купи себе лесизаблудись в нем Купи себе лес и заблудись в немм Купи себе лес и заблудись в нем Купи себе лес и заблудись в нем
                //действия на коммент
                .row
                    .comments-item__more
                        //ответить
                        .col-md-10
                            a.comments-item__answer(href="#") Ответить
                        //оценить
                        .col-md-2.comments-item__counter-l
                            button.comments-item__counter.comments-item__counter--plus(disabled) +1
                            button.comments-item__counter.comments-item__counter--minus(disabled) -10
                //скрытое поле для ответа на коммент
                .row
                    .col-md-12
                        form.comments__form.comments__form--answer(action="#" method="get" name="comments__answer")
                            textarea(name="comment" placeholder="Anonym, я говорю.../"  rows="5")
                            input(type="submit")
                            //доп. кнопки
                            .comments__more
                                a.smile
                                a.file

        a.comments__all(href="#") Все комментарии

mixin answer-block
mixin answer-block
mixin answer-block
mixin answer-block

script(type="text/html" id="answer_field")
    .col-md-12
        form.comments__form.comments__form--answer1(action="#" method="get" name="comments__answer")
            textarea(name="comment" placeholder="{{name}}, я говорю.../"  rows="5")
            input(type="submit")
            //доп. кнопки
            .comments__more
                a.smile
                a.file