form.form.form--profile(action="post")
    .avatar-l
        label.avatar.file_upload
            .file_upload__field: img(src="../img/content/avatar.jpg" alt="foto")
            a.file_upload__btn.add-screen(href="#") Обновить
            input(type="file" name="file_screen")

    .info-l
        .info.clearfix
            .info__part
//                label
//                    | Nickname 
//                    input(type="text"name="nick" value="Anonym")
//                label
//                    | Имя 
//                    input(type="text" name="name" value="Анна")
//                label
//                    | Фамилия 
//                    input(type="text" name="surname" value="Петрова")
//                label
//                    | Пол 
//                    input(type="radio" name="gender" value="woman")
//                    input(type="radio" name="gender" value="man")
//                label
//                    | Дата рождения 
//                    input(type="date" name="date" value="12.12.1986")
//                label
//                    | E-mail 
//                    input(type="email" value="fffff@hhjj.ru")
            .info__part