a(href="#").sidebar__box.sidebar__blank
    img(src="../img/banner-right.jpg")

a(href="#").sidebar__box.sidebar__phone
    p.sidebar__title.sidebar__phone-title.sidebar__phone-title--grand Акция
    p.sidebar__title.sidebar__phone-title Получи смартфон
    .sidebar__phone-present
        img(src="../img/phone1.png" alt="")
        .sidebar__phone-present__else: img(src="../img/else.png" alt="")
        img(src="../img/phone2.png" alt="")
        
a(href="#").sidebar__box.sidebar__blank
    img(src="../img/banner-right.jpg")