a(href="#").sidebar__box.sidebar__phone
	p.sidebar__title.sidebar__phone-title.sidebar__phone-title--grand Акция
	p.sidebar__title.sidebar__phone-title Получи смартфон
	.sidebar__phone-present
		img(src="../img/content/phone1.png" alt="")
		.sidebar__phone-present__else: img(src="../img/content/else.png" alt="")
		img(src="../img/content/phone2.png" alt="")
		
.sidebar__box.sidebar__oscar
	p.sidebar__title.sidebar__oscar-title Премия &#171;Худший шаблон&#187;
	.sidebar__oscar-layout
		img.sidebar__oscar-img(src="../img/content/oscar.png" alt="")
		p.sidebar__text.sidebar__oscar-text Премия &#171;Худший шаблон&#187; выдается ежемесячно и позорит весь интернет (кроме лучшей его части — сайтов с индивидуальным дизаном). Получить премию может любой сайт (даже без заявки с его стороны). Победитель выбирается администрацией портала &#171;Fast Flud&#187; посетители
	a.sidebar__oscar-btn(href="#") Предложить
	
a(href="#").sidebar__box.sidebar__food
	p.sidebar__title.sidebar__food-title Ноябрь: &#171;Пробирка-Фуд&#187;
	img(src="../img/content/steak-house.jpg" alt="")
	p.sidebar__food-text(href="#") октябрь, сентябрь, август...&#187;
	
a(href="#").sidebar__box.sidebar__blank
	img(src="../img/content/banner-right.jpg")