footer.container
    .row
        .col-md-5
            nav.navbar.navbar-default.footer__menu
                ul.nav.navbar-nav
                    li: a.links__vk(href="#")
                    li: a.links__fb(href="#")
                    li: a.links__twitter(href="#")
                    li: a.links__odnoklassniki(href="#")
                    li: a.links__google(href="#")
            .footer__submenu
                a(href="#") О проекте
                a(href="#") Размещение рекламы
        .col-md-1.pull-right.footer__copyright
            p.footer__copyright-text
            a.footer__copyright-logo(href="#"): img(src="../img/logo-artbrother.png" alt="")