-var breadCrumbs = ["Главная","Логотипы","Новость"]
-var topMenu = ["Сайты", "Логотипы", "Прочий хлам", "Новенькое", "Добавить"]

header.header
    .head.clearfix
        .layout-center-wrapper
            nav.head__breadcrumb
                ul
                    each item in breadCrumbs
                        li: a(href="#") #{item}

            .head__registration
                a.head__registration--enter(href="#") Регистрация/ Вход
    .layout-center-wrapper
        .header__banner: a(href="#"): img(src="../img/banner-up.jpg" alt="")
        .header__logo: a(href="#"): img(src="../img/logo.png" alt="")
    
        form.form__search(name="search" action="#" method="get")
            fieldset.form__search-layout
                input.form__search-field(type="text" name="search" placeholder="Поиск")
                button.btn.form__search-btn
            p.form__search-text Уже добавлено 
                span 109 примеров
                |  шаблонных и украденных сайтов и логотипов

        nav.top-menu
            ul
                li: a(href="#")
                    .top-menu__img: img(src="../img/icon-site.png")
                    | Сайты
                li: a(href="#")
                    .top-menu__img: img(src="../img/icon-logo.png")
                    | Логотипы
                li: a(href="#")
                    .top-menu__img: img(src="../img/icon-more.png")
                    | Прочий хлам
                li: a(href="#")
                    .top-menu__img: img(src="../img/icon-new.png")
                    | Новенькое
                li: a(href="#")
                    .top-menu__img: img(src="../img/icon-add.png")
                    | Добавить
                