-var breadCrumbs = ["Главная","Логотипы","Новость"]
-var topMenu = ["Сайты", "Логотипы", "Прочий хлам", "Новенькое", "Добавить"]

header
    .head
        .container
            .row
                .col-md-9
                    ul.breadcrumb
                        each item in breadCrumbs
                            li: a(href="#") #{item}

                .col-md-3.text-right
                    a(href="#") Регистрация/ Вход
    .container
        .banner.text-center: a(href="#"): img(src="../img/banner-up.jpg" alt="")
        .logo.text-center: a(href="#"): img(src="../img/logo.png" alt="")
    
        form.form-inline.form-search(name="search" action="#" method="get")
            .text-center
                .input-group
                    label.sr-only(for="searchInput")
                    input.form-control(id="searchInput" type="text" name="search" placeholder="Search")
                    .input-group-btn
                        button.btn.btn-primary
                p.search__text Уже добавлено 
                    span 109 примеров
                    |  шаблонных и украденных сайтов и логотипов

        nav.navbar.navbar-default
            ul.nav.navbar-nav
                li: a.top-menu__site(href="#") Сайты
                li: a.top-menu__logo(href="#") Логотипы
                li: a.top-menu__more(href="#") Прочий хлам
                li: a.top-menu__new(href="#") Новенькое
                li: a.top-menu__add(href="#") Добавить
                