extends main
block content
    .content
        .row
            .col-md-4.content__item gghjkkk
            .col-md-4.content__item gghjkkk
            .col-md-4.content__item gghjkkk
        .row
            .col-md-4.content__item gghjkkk
            .col-md-4.content__item gghjkkk
            .col-md-4.content__item gghjkkk
        .row
            .col-md-4.content__item gghjkkk
            .col-md-4.content__item gghjkkk
            .col-md-4.content__item gghjkkk
        .row
            .col-md-12.content__item--big gghjkkk
        .row
            .col-md-4.content__item gghjkkk
            .col-md-4.content__item gghjkkk
            .col-md-4.content__item gghjkkk
        a.content__next(href="#") fastflud...