extends main
block content
    .content
        .content__row.clearfix
            .content__item: img(src="../img/content__item.png")
            .content__item: img(src="../img/content__item.png")
            .content__item: img(src="../img/content__item.png")
        .content__row.clearfix
            .content__item: img(src="../img/content__item.png")
            .content__item: img(src="../img/content__item.png")
            .content__item: img(src="../img/content__item.png")
        .content__row.clearfix
            .content__item: img(src="../img/content__item.png")
            .content__item: img(src="../img/content__item.png")
            .content__item: img(src="../img/content__item.png")
        .content__row.clearfix
            .content__item.content__item--big: img(src="../img/content__item--big.png")
        .content__row.clearfix
            .content__item: img(src="../img/content__item.png")
            .content__item: img(src="../img/content__item.png")
            .content__item: img(src="../img/content__item.png")
        a.content__next(href="#") fastflud...