extends parts/main
block content
	.content
		//маленькие куски
		.row
			.col-md-4.content__item: include parts/image-vs
			.col-md-4.content__item: include parts/image-vs
			.col-md-4.content__item: include parts/image-vs
		.row
			.col-md-4.content__item: include parts/image-vs
			.col-md-4.content__item: include parts/image-vs
			.col-md-4.content__item: include parts/image-vs
		.row
			.col-md-4.content__item: include parts/image-vs
			.col-md-4.content__item: include parts/image-vs
			.col-md-4.content__item: include parts/image-vs
		//большой кусок
		.row
			.col-md-12.content__item.content__item--big: include parts/image-vs
		.row
			.col-md-4.content__item: include parts/image-vs
			.col-md-4.content__item: include parts/image-vs
			.col-md-4.content__item: include parts/image-vs
			
block sidebar
	include parts/sidebar1
	
block next
	a.next(href="#") fastflud...