extends main
block content
    .content
        .row
            .col-md-4.content__item: img(src="../img/content__item.png")
            .col-md-4.content__item: img(src="../img/content__item.png")
            .col-md-4.content__item: img(src="../img/content__item.png")
        .row
            .col-md-4.content__item: img(src="../img/content__item.png")
            .col-md-4.content__item: img(src="../img/content__item.png")
            .col-md-4.content__item: img(src="../img/content__item.png")
        .row
            .col-md-4.content__item: img(src="../img/content__item.png")
            .col-md-4.content__item: img(src="../img/content__item.png")
            .col-md-4.content__item: img(src="../img/content__item.png")
        .row
            .col-md-12.content__item.content__item--big: img(src="../img/content__item--big.png")
        .row
            .col-md-4.content__item: img(src="../img/content__item.png")
            .col-md-4.content__item: img(src="../img/content__item.png")
            .col-md-4.content__item: img(src="../img/content__item.png")        