extends parts/main
block content
	//маленькие куски
	.content
		.row
			.col-md-4.content__item: include parts/image-vs
			.col-md-4.content__item: include parts/image-vs
			.col-md-4.content__item: include parts/image-vs
		.row
			.col-md-4.content__item: include parts/image-vs
			.col-md-4.content__item: include parts/image-vs
			.col-md-4.content__item: include parts/image-vs
		.row
			.col-md-4.content__item: include parts/image-vs
			.col-md-4.content__item: include parts/image-vs
			.col-md-4.content__item: include parts/image-vs
		.row
			.col-md-4.content__item: include parts/image-vs
			.col-md-4.content__item: include parts/image-vs
			.col-md-4.content__item: include parts/image-vs
		.row
			.col-md-4.content__item: include parts/image-vs
			.col-md-4.content__item: include parts/image-vs
			.col-md-4.content__item: include parts/image-vs
		.row
			.col-md-4.content__item: include parts/image-vs
			.col-md-4.content__item: include parts/image-vs
			.col-md-4.content__item: include parts/image-vs
			
block sidebar
	include parts/sidebar2
	
block next
	a.next.next--smaller(href="#") Еще FF-логотипы...