doctype html
html(lang="ru")
    head
        include head    
    body
        include header
        
        main.layout-center-wrapper.clearfix
            .main
                block content
            .sidebar
                include sidebar
        include footer
        
        
        
        
        
        
        
        
        
        script(src="../js/bootstrap.min.js")