doctype html
html(lang="ru")
    head
        include head    
    body
        include header
        
        main.layout-center-wrapper.row-fluid
            .span8
                block content
            .span4
                include sidebar
        
        
        
        
        
        
        
        
        
        
        script(src="bootstrap.min.js")