doctype html
html(lang="ru")
    head
        include head    
    body
        include header
        
        main.container
            .row
                .col-md-9
                    block content
                .col-md-3
                    include sidebar
        include footer
        
        
        
        
        
        
        
        
        
        script(src="../js/bootstrap.min.js")