doctype html
html(lang="ru")
    head
        include head    
    body
        include header
        
        .container
            main.row
                .main.col-md-8
                    block content                    
                .sidebar.col-md-4
                    include sidebar
                .row: a.next(href="#") fastflud...
            include footer
        
        
        
        
        
        
        
        
        
        script(src="../js/bootstrap.min.js")