extends parts/main
block content
    .content
        .news
            //заголовок
            p.news__title
                | Металлоперерабатывающий завод
                br
                | vs
                br
                | завод железобетонных блоков
            //новость
            p.news__text.
                Давайте улыбаться! Совсем скоро весна, зеленая травка, теплое солнышко, которое согреет вас и будет поднимать настроение каждый день! А пока с такой же целью посмотрите этот пост. Ведь есть так много поводов улыбнуться. давайте улыбаться! Совсем скоро весна, зеленая травка, теплое солнышко, которое согреет вас и будет поднимать настроение каждый день! А пока с такой же целью посмотрите этот пост. Ведь есть так много поводов улыбнуться. давайте улыбаться! Совсем скоро весна, зеленая травка, теплое солнышко, которое согреет вас и будет поднимать настроение каждый день! А пока с такой же целью посмотрите этот пост. Ведь есть так много поводов улыбнуться.
            //картинки
            .news__img-box
                img(src="../img/content/site1.jpg", alt="site1")
            .news__img-box
                img(src="../img/content/site2.jpg", alt="site2")
            
        //маленькие куски
        .row
            .col-md-4.content__item: include parts/image-vs
            .col-md-4.content__item: include parts/image-vs
            .col-md-4.content__item: include parts/image-vs
            
block sidebar
    //сайдбар с комментами
    include parts/sidebar-comments    
    
block next
    a.next.next--smaller(href="#") Следующий FF-логотип...
    

    
block scripts
    script(src="../js/comment_counter.js")