.action
    p.action__title Акция
    p.action__text Получи смартфон
    .row-fluid
        img.span4(src="../img/phone1.png" alt="")
        p.action__or.span4 или
        img.span4(src="../img/phone2.png" alt="")
        
.oscar
    p.oscar__title Премия &#171;Худший шаблон&#187;
    p.oscar__text Премия &#171;Худший шаблон&#187; выдается ежемесячно и позорит весь интернет (кроме лучшей его части — сайтов с индивидуальным дизаном). Получить премию может любой сайт (даже без заявки с его стороны). Победитель выбирается администрацией портала ┬лFast Flud┬╗; посетители также могут предложить своего кандидата.
    a.oscar__offer(href="#") Предложить