.sidebar__box.sidebar__box--phone
    p.sidebar__title.sidebar__title--phone Акция
    p.sidebar__text.sidebar__text--phone Получи смартфон
    a.sidebar__present--phone
        img(src="../img/phone1.png" alt="")
        p или
        img(src="../img/phone2.png" alt="")
        
.sidebar__box.sidebar__box--oscar
    p.sidebar__title.sidebar__title--oscar Премия &#171;Худший шаблон&#187;
    p.sidebar__text.sidebar__text--oscar Премия &#171;Худший шаблон&#187; выдается ежемесячно и позорит весь интернет (кроме лучшей его части — сайтов с индивидуальным дизаном). Получить премию может любой сайт (даже без заявки с его стороны). Победитель выбирается администрацией портала &#171;Fast Flud&#187; посетители также могут предложить своего кандидата.
    a.sidebar__btn--oscar(href="#") Предложить
    
.sidebar__box.sidebar__box--food
    p.sidebar__title.sidebar__title--food Ноябрь: &#171;Пробирка-Фуд&#187;
    img(src="../img/steak-house.jpg" alt="")
    a.sidebar__link--food(href="#") октябрь, сентябрь, август...&#187;
    
.sidebar__box.sidebar__box--blank
    img(src="../img/banner-right.jpg")