@import url("variables.less");
@import url("mixin.less");
@import url("main.less");
@import url("form.less");






.header {
    margin-bottom: 60px;
    
    .head {
        margin-bottom: 10px;
        padding: 7px 0;
        background: @header-bg;
        
        //хлебные крошки
        &__breadcrumb {
                .menu();
                font-size: 0;
                
                li {
                    margin-right: 3px;
                    color: @breadcrumb-color;
                    border-right: 1px solid @breadcrumb-color;
                    
                    &:last-child {
                        color: white;
                        border: none;
                    }
                    
                    &:not(:last-child) a:hover {
                        color: darken(@breadcrumb-color, 30%);
                    }
                    
                    a {
                        margin-right: 3px;
                        font-size: @breadcrumb-size;
                        text-transform: lowercase;
                    }
                }
        }
        
        //регистрация
        &__registration {
            text-align: right;
            color: white;
            
            a {
                .reset-a();
                
                &:hover {
                    text-decoration: underline;
                }
             }    
        }
    }
    
    &__banner {
        margin-bottom: 35px;
        text-align: center;
    }
    
    &__logo {
        margin-bottom: 25px;
        text-align: center;
    }
    
    //поиск
    .form__search {
        margin-bottom: 55px;
        
        &-layout {
            position: relative;
            margin: 0 auto 5px;
            padding: 0;
            border: none;
        }
        
        &-field {
            width: 100%;
            box-sizing: border-box;
            padding: 5px 35px 5px 5px;
            font-size: @footer-menu;
            border: 1px solid @sidebar-color;
            outline: none;
        }
        
        &-btn {
            position: absolute;
            right: 5px;
            top: 50%;
            margin-top: -14px;
            width: 28px;
            height: 28px;
            background: url("../img/icon-search.png") no-repeat center center;
            border: none;
            outline: none;
        }
        
        &-text {
            margin: 0;
            text-align: center;
            font-family: @font-family--search;
            color: @search-text;
            font-weight: bold;
            font-style: italic;
            
            span {
                color: @search-text--main;
            }
        }
    }
}

//верхнее меню
.top-menu {
        .menu();
        text-align: center;
        font-size: 0;
        
        li {
            width: 20%;
            
            a{
                color: #666565;
                font-size: @main-menu-size;
                font-weight: bold;
                text-transform: uppercase;
                
                .top-menu__img {
                    img {
                        margin: 0 auto;
                        
                        &:first-child {
                            display: none;                        
                        }

                        &:last-child {
                            display: block;
                        }
                    }
                }
                
                &:hover,
                &.active {
                    color: @color-main--grand;
                        
                    img {
                        &:first-child {
                            display: block;                        
                        }

                        &:last-child {
                            display: none;
                        }
                    }
                        
                    .date {
                        background: @color-main--grand;
                    }
                }
            }
        }
}

main {
    position: relative;
    margin-bottom: 20px;
    
    //следующий контент
    .next {
        position: absolute;
        left: 15px;
        bottom: -13px;
        .reset-a();
        font-size: @text-size--more;
        line-height: 1;
        font-weight: bold;
        color: black;
        
        &:hover {
            color: lighten(black, 30%);
        }
        
        &--smaller {
            font-size: 45.87px;
        }
    }
}

//.main {
//    padding-top: 20px;
//}

.content {    
    .row {
        //отступ для последней строки с контентом
        &:last-of-type {
            margin-bottom: 100px;
        }
    }
    
    &__item {
        margin-bottom: 35px;
        padding: 0 15px;
        text-align: center;
        
        a {
            text-decoration: none;
            color: inherit;
        }
        
        //бокс с картинкой
        .img-box {
            .img-window(
                @height: 115px;
                @border: 2px;
                @vs-size: 36px;
                @vs-font: 27px;
                @vs-line: 31px;
            );
                
            &__title {
                margin: 0;
                padding: 0 2px;
                line-height: 1.27;
                font-weight: bold;
                text-align: left;
                word-wrap: break-word;
            }
        }
        //для большой картинки
        &--big {
            .img-box {
                .img-window(
                    @height: 370px;
                    @border: 7px;
                    @vs-size: 110px;
                    @vs-font: 84px;
                    @vs-line: 90px;
                );
                
                &__title {
                    font-size: @text-size--big;
                }
            }
        }
    }
}

//правая часть
.sidebar {
    //дефолтные стили для бокса
    &__box {
        .reset-a();
        position: relative;
        display: block;
        margin-bottom: 50px;
        
        &:after {
            content: "";
            position: absolute;
            display: block;
            width: 80%;
            height: 1px;
            bottom: -25px;
            left: 10%;
            background: @sidebar-color;
        }
        
        &:last-child{
            margin-bottom: 0;
            
            &:after {
            display: none;
            }
        }
        
        &:hover {
            .reset-a();
        }
    }
    
    &__title {
        margin: 0;
        padding: 0;
        font-size: @header-size--3;
        text-align: center;
        font-weight: bold;
    }
    
    &__text {
        text-align: justify;
    }
    
    
    //акция с телефонами
    &__phone {        
        &-title {
            margin-bottom: 20px;
            font-size: @header-size--2;
            
            &--grand {
                margin: 0;
                padding: 0;
                font-size: @main-menu-size;
                color: @color-main--grand;
            }
        }
        
        &-present {
            .reset-a();
            font-size: 0;
            
            &__else {
                display: inline-block;
                margin: 0 5%;
                
                &:before,
                &:after {
                    content: "";
                    display: inline-block;
                    width: 10px;
                    height: 3px;
                    background: #f86354;
                }
                
                &:before {
                    margin-right: 4px;
                }
                
                &:after {
                    margin-left: 4px;
                }
            }            
        }
    }
    
    //премия Худший шаблон
    &__oscar {
        background: @sidebar-bg;
        text-align: center;
        
        &-title {
            padding: 5px 0;
            background: @color-main--grand;
            color: @btn-bg;
        }
        
        &-layout {
            .clearfix();
            padding: 10px 5px 5px;
            font-family: @font-family--search;
        }
        
        &-img {
            float: left;
        }
        
        &-text {
            float: right;
            width: 75%;
            font-size: 13.5px;
            line-height: 1.3;
        }
        
        &-btn {
            .btn();
            margin-bottom: 10px;
            background: @btn-bg;
            font-size: @btn-size;
            color: @header-bg;
        }
    }
    
    //пробирка-фуд
    &__food {
        
        &-title {
            margin-bottom: 10px;
            color: #4d4d4d;
        }
        
        &-text {
            margin: 0;
            font-size: @text-size--sidebar;
        }
    }
}


//футер
.footer {
    .clearfix();
    padding: 40px 20px;
    background: @header-bg;
    
    //нижнее меню
    &__menu {
        margin-bottom: 40px;
        
        ul {
            .menu();
            li {
                margin-right: 9%;
                
                a {
                    .socials();
                }
            }
        }
        
        &--vk {
            background-image: url("../img/icon-vk.png"); 
        }
        &--fb {
            background-image: url("../img/icon-fb.png"); 
        }
        &--twitter {
            background-image: url("../img/icon-twitter.png"); 
        }
        &--odnoklassniki {
            background-image: url("../img/icon-odnoklassniki.png"); 
        }
        &--google {
            background-image: url("../img/icon-google.png"); 
        }
    }
    
    //подменю
    &__submenu {        
        a {
            margin-right: 23%;
            color: white;
            font-size: @footer-menu;
            text-transform: lowercase;
        }
    }
    
    //копирайт
    &__copyright {
        text-align: center;
        
        &-text {
            margin: 0 0 5px;
            font-family: @font-family--copyright;
            font-size: @copyright-size;
            color: #fff1ef;
        }
    }
}

//страница с отдельной новостью
.news {
    margin-bottom: 55px;
    font-family: @font-family--search;
    
    &__title {
        margin-top: 0;
        margin-bottom: 10px;
        font-size: 27px;
        color: @color-main--grand;
        font-weight: bold;
        text-align: center;
    }
    
    &__text {
        margin-bottom: 35px;
        text-align: justify;
    }
    
    //бокс для картинки
    &__img-box {
        height: 370px;
        text-align: center;
        border: 6px solid #373635;
        border-radius: 5px;
        margin-bottom: 35px;
        overflow: hidden;
        
        img {
            width: 100%;
            height: auto;
        }
    }
}

//боковые комменты
.comments {
    position: relative;
    height: 90%;
    margin-top: 10px;
    margin-bottom: 100px;
    padding: 10px;
    background: @sidebar-bg;
    border: 1px solid #d9d9d9;
    
    //осн заголовок
    &__head {
        margin-bottom: 10px;
        font-size: 18px;
        font-weight: bold;
        text-transform: uppercase;
        vertical-align: middle;
        
        //наименование
        &-title {
            margin: 0;
            color: @color-main--grand;
            
            //звезда
            &:before {
                content: "";
                display: inline-block;
                position: relative;
                width: 25px;
                height: 25px;
                top: 4px;
                margin-right: 5px;
                background: url("../img/icon-logo.png") no-repeat center center;
                background-size: 100%;
            }
        }
        
        //счетчик комментов        
        &-count {
            margin: 0;
            text-align: right;
            color: @search-text;
            
            //облачко
            &:after {
                content: "";
                display: inline-block;
                position: relative;
                width: 19px;
                height: 25px;
                top: 6px;
                margin-left: 5px;
                background: url("../img/cloud-count.png") no-repeat center center;
            }
        }
    }    
    
    //оставить коммент
    &__write {
        position: relative;
        margin: 0 0 20px;;
        padding-left: 2%;
        display: inline-block;
        font-size: 13px;
        color: @search-text;
        z-index: 10;
        text-transform: lowercase;
        
        //облачко
        &:after {
            content: "";
            position: absolute;
            width: 104%;
            height: 34px;
            top: -2px;
            left: 0;
            background: url("../img/cloud-comments.png") no-repeat center center;
            background-size: 100%;
            z-index: -1;
        }
    }
    
    //регистрация
    &__reg {
        float: right;
        font-size: 13px;
        color: @search-text;
        text-decoration: underline;
        
        &:hover,
        &:active{
            color: @search-text;
        }
    }
    
    //чекбоксы
    input[type="checkbox"] {
        display: none;
        
        //при нажатии выдвигается поле для коммента
        &:checked~.comments__form--answer{
            display: block;
        }
    }
    
    //поле для комментов
    &__form {
        .clearfix();
        background: white;
        border-radius: 5px;
        
        //стили для ответа
        &--answer {
            display: none;
            position: relative;
            margin-left: 40px;
            margin-top: 10px;
            
            //уголок
            &:after {
                content: "";
                position: absolute;
                top: -14px;
                left: 40px;
                width: 10px;
                height: 14px;
                background: linear-gradient(to right top, white 49%, transparent 51%);
                transform: skewX(15deg);                
            }
        }
        
        //поле для ввода текста
        textarea {
            width: 100%;
            max-width: 100%;
            font-size: 13px;
            font-style: italic;
            border: none;
            border-radius: 5px;
            outline: none;
        }
        
        //кнопка отправки
        input[type="submit"] {
            font-size: 14px;
            color: #eb2629;
            text-transform: uppercase;
            background: transparent;
            border: none;
        }
    }
    
    //доп кнопки
    &__more {
        float: right;
        
        a {
            .reset-a();
            display: inline-block;
            margin-right: 5px;
            width: 19px;
            height: 19px;
            background-position: center center;
            background-repeat: no-repeat;
            cursor: pointer;
        }
        
        //смайлики
        .smile {
            background-image: url("../img/icon-smile.png");
        }
        
        //файлы
        .file {
            background-image: url("../img/icon-bracket.png");
            background-size: auto 100%;
        }
    }
    
    //блоки с комментами
    &-item {
        margin-bottom: 25px;
        font-size: 18px;
        
        //блок для написания коммента
        &--main {
            margin-bottom: 15px;
        }
                
        //аватарка
        &__img {
            float: left;
            margin-right: 5px;
            width: 65px;
            height: 56px;
            background: url("../img/content/cloud-author.png") no-repeat center center;
            background-size: 100%;
            text-align: center;
            
            img {
                width: 94%;
                margin-top: 6%;
            }
        }        
        
        //заголовок
        &__head {
            .clearfix();
            display: inline-block;
            width: 75%;
            font-style: italic;
            font-family: @font-family--italic;
        }
        
        //ник
        &__author {
            float: left;
            margin: 0;
            color: #eb2629;
        }
        
        //ранг
        &__rang {
            float: right;
            margin: 0;
            color: #666565;
        }
        
        //коммент
        &__text {
            margin: 0;
        }
        
        //доп функционал
        &__more {
            .clearfix();
        }
        
        //ответить
        &__answer {
            font-size: 14px;
            font-family: @font-family--italic;
            color: #666565;
            cursor: pointer;
        }
        
        //счетчик
        &__counter {
            background: #666565;
            font-family: @font-family--italic;
            font-size: 12px;
            line-height: 1.1;
            color: white;
            border: none;
            outline: none;
            
            //оболочка для счетчика
            &-l {
                text-align: right;
            }
        }
    }
    
    //все комменты
    &__all {
        position: absolute;
        bottom: 15px;
        font-size: 18px;
        font-weight: bold;
        text-transform: uppercase;
        color: @color-main--grand;
        cursor: pointer;
        line-height: 2;
        
        //стрелочка
        &:before {
            content: "";
            display: inline-block;
            width: 28px;
            height: 39px;
            vertical-align: bottom;
            margin-right: 10px;
            background: url("../img/icon_down.png") no-repeat center center;
        }
        
        &:visited {
            text-decoration: none;
            color: @color-main--grand;
        }
        
        &:hover,
        &:active {
            color: darken(@color-main--grand, 10%);
        }
    }
}

.date {
    margin: 0 auto;
    width: 80px;
    height: 69px;
    background: #666565;
    border-radius: 10px;
    
    p {
        margin: 0;
        font-family: @font-family--bold;
        color: white;
        line-height: 0.9;
        text-transform: lowercase;
    }
    
    &__day {
        font-size: 56.41px;
    }
    
    &__month {
        font-size: 15px;
    }
}

.scroll_top {
    .reset-a();
    position: fixed;
    right: 50px;
    top: 50%;
    margin-top: -50px;
    width: 50px;
    height: 100px;
    background: url("../img/icon_up.png") no-repeat center center;
    background-size: 100%;
}

@import url("private.less");

.popup-show {
    display: block;
}

.hide {
    display: none;
}

.clearfix:after {
    content: '';
    display: table;
    clear: both;
}